@using MUI.Core.HtmlExtension
@using MUI.Core.Model.Form
@using MUI.Core.Utils
@using MUIHelper

@{
    ViewBag.Title = "分类管理-商机管理";
    Layout = "~/Views/Shared/_Layout4Op.cshtml";
}

<h2>Index</h2>

